*{
    top:10vh;
    left:10vh;
    bottom: 10vh;
    
  }
  #imageContainer{

      background-image: url('../../assets/images/kisspng-carpool-peer-to-peer-ridesharing-transport-uber-pa-download-apk-tripcar-app-1-app-for-android-5c6d997269a9e4.9469354015506865784328.png');
      background-repeat: no-repeat;
      
  }
  
  #formContainer .card{
     left: 0;
     top: 20px;
     width:80%;
  }

button{
    margin-bottom: 3%;

}



