<div class="container box-container">
  <div class="mx-auto box">

    <div *ngIf="!submitted">
      <div id="heading">
        <p>Login</p>
      </div>
      <div class="container">
        <form class="form-group">
          <label for="username"><b>User Name</b> </label>
          <input type="text" [(ngModel)]="login.username" name="username" class="form-control" /><br /><br />
          <label for="password"><b>Password</b> </label>
          <input type="password" [(ngModel)]="login.password" name="password" class="form-control" #password /><br />
        </form>
        <button class="btn btn-primary d-block mx-auto" (click)="onSubmit()">Login</button>
      </div>
    </div>
    <div *ngIf="submitted">
      <div *ngIf="isAuthenticated; else failureMsg">
        <h4>Welcome {{ userName }}</h4>
      </div>
      <ng-template #failureMsg>
        <h4>Invalid Login !!! Please try again...</h4>
      </ng-template>
      <button type="button" (click)="submitted = false">Back</button>
    </div>






  </div>
</div>