
#heading{
    background-color: rgb(5, 106, 149);
    
    padding : 1.5%;
    padding-left: 3%;
    color: white;
    text-align: left;
}

.box{
    border: 1px solid rgb(220, 219, 219);
}

th,td{
    border: 1px solid rgb(220, 219, 219);
}

.btn-primary{
    background-color: rgb(5, 106, 149);
    
}

.btn{
    margin-bottom: 2%;
}
