body{
    background-image: url('../../assets/images/blue-abstract-gradient-wave-wallpaper.jpg');
    background-repeat: no-repeat;
   
    background-size: cover;
    min-height:100%;
}

.box-container{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.box{
    border: 1px solid rgb(65, 150, 235);
    width: 40%;
    
}

.box label{
    padding-left: 3%;
}

#heading{
    background-color: rgb(5, 106, 149);
}

#heading p{
    padding: 3%;
    color: white;
}

button{
    margin-bottom: 3%;

}

.btn-primary{
    background-color: rgb(5, 106, 149);
    
}


